NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_MAPLIBRE_STYLE=https://demotiles.maplibre.org/style.json
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=guardian-del-agua
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=guardian-del-agua.firebaseapp.com
